@import "variables.scss";

.MuiInput-underline:after {
    border-bottom: 2px solid $color-success !important;
}

.MuiFormControlLabel-labelPlacementStart {
    margin-left: 0px !important;
}
.MuiFormControl-root {
    width: 100%;
}


.services {

    .servicesListOuterBox {
        border-radius: $border-radius;
        padding: 30px;

        .servicesListInnerBox {
            width: 400px;
            height: 400px;
            margin: 50px auto;
            border-radius: $border-radius;
            h2 {
                padding: 10px 20px;
                font-size: 20px;
                font-weight: 700;
                text-align: center;
            }
            ul {
                height: 90%;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    width: 12px;
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba($color-success, 1);
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                li {
                    padding: 10px;
                    transition: transform 0.5s;
                    padding-top: 15px;
                    &:hover {
                        cursor: pointer;
                    }
                    span {
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        line-height: 20px;
                        display: inline-block;
                        border-radius: $border-radius;
                        margin-right: 10px;
                        font-size: 12px;
                        font-weight: 600;
                        transform: translateY(-2px);
                    }
                }
            }
        }
        
        .servicesButtons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 30px auto;
            button {
                margin: 0 5px;
                padding: 5px 30px;
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 25px;
    }
    
    button {
        border: 0;
        font-size: 18px;
        cursor: pointer;
        border-radius: $border-radius;
        text-transform: none;
    }

    button:focus {
        outline: none;
    }

    .settingsIcon {
        cursor: pointer;
    }

    .MuiChip-outlined {
        background-color: $color-success;
    }

    .MuiCheckbox-root:hover {
        background-color: transparent;
    }
    
    .MuiCheckbox-colorSecondary.Mui-checked:hover {
        background-color: transparent;
    }
}

.dark-mode {
    .MuiInput-underline:before {
        border-bottom: 2px solid $color-light !important;
    }
    .MuiAutocomplete-input {
        color: $color-light !important;
    }
    .servicesDivider {
        background-color: $color-mid;
    }
    .settingsIcon {
        color: $color-light;
        &:hover {
            color: $color-success;
        }
    }
    .services {
        h1 {
            color: $color-light;
        }

        button {
            color: $color-light;
            background: rgba($color-light, 0.2);
            &.actionButton {
                background: rgba($color-success, 0.6);
                &:hover {
                    color: $color-light;
                    background: rgba($color-success, 1)
                }
            }
        }
        button:hover {
            color: $color-success;
        }
    }

    .servicesListInnerBox h2 {
        color: $color-light;
    }

    .servicesListInnerBox ul li {
        color: $color-light;
    }

    .servicesListInnerBox ul li:hover {
        background: $color-success;
        color: $color-light;
    }

    .servicesListInnerBox ul li span {
        background: $color-success;
        color: $color-light;
    }

    .servicesListInnerBox ul li:hover span {
        background: $color-light;
        color: $color-success;
    }
}

.light-mode {
    .MuiInput-underline:before {
        border-bottom: 2px solid $color-dark !important;
    }
    .MuiAutocomplete-input {
        color: $color-dark !important;
    }
    .settingsIcon {
        color: $color-mid;
        &:hover {
            color: $color-success;
        }
    }
    .servicesDivider {
        background-color: $color-mid;
    }
    .services {
        h1 {
            color: $color-dark;
        }

        button {
            color: $color-light;
            background: rgba($color-dark, 0.2);
            &.actionButton {
                background: rgba($color-success, 0.7);
                &:hover {
                    color: $color-light;
                    background: rgba($color-success, 1);
                }
            }
        }
        button:hover {
            color: $color-success;
        }
    }

    .servicesListInnerBox h2 {
        color: $color-dark;
    }

    .servicesListInnerBox ul li:hover {
        background: $color-success;
        box-shadow: 0 5px 25px rgba($color-dark,0.2);
        color: $color-light;
    }

    .servicesListInnerBox ul li span {
        background: $color-success;
        color: $color-light;
    }

    .servicesListInnerBox ul li:hover span {
        background: $color-light;
        color: $color-success;
    }
}