@import "variables.scss";

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: $font-OpenSans !important;
    box-sizing: border-box;
    background-size: cover;
}
