@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;600&display=swap');

$color-blue: #347cdb;
$color-grey245: rgb(245,245,245);
$color-grey240: rgb(240,240,240);
$color-grey230: rgb(230,230,230);
$color-grey218: rgb(218,218,218);
$color-grey80: rgb(80,80,80);
$color-background: rgb(244,244,245);
$color-black: #252525;
$font-OpenSans: "Open Sans", sans-serif;
$font-OpenSansCondensed: 'Open Sans Condensed', sans-serif;
$border-radius: 4px;

$color-success: #21b573;
$color-warning: #C1292E;
$color-info: #4BB3FD;
$color-light: #F0F2F5;
$color-dark: #18191A;
$color-chat-dark: #242526;
$color-chat-mid: #3A3B3C;
$color-chat-light: #FFFFFF;
$color-chat-light-mid: #E5E5E5;
$color-mid: #969AA3;
$color-darkish: #3f4655;
$color-kanbanRed: #DE1A1A;
$color-kanbanGreen: #35FF69;
$color-kanbanYellow: #FCE836;
$color-kanbanBlue: #44CCFF;