@import "variables.scss";

.logReg {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;

  .logRegOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;

    .logRegButton {
      align-self: center;
      margin-top: 10px;
      font-size: 21px;
      width: 100%;
      padding: 5px 0px;
      border: 0;
      border-radius: $border-radius;
      transition: all 250ms ease-in-out;
      cursor: pointer;
      color: $color-light;
      &:focus {
        outline: none;
      }
    }
  }
}

.signup-link {
  text-align: center;
  margin-top: 20px;
  a {
    margin-left: 10px;
    text-decoration: none;
    color: $color-blue;
  }
}

.dark-mode {
  .logReg {
    .logRegOuterContainer {
      background-color: $color-dark;
      .logRegButton {
        background-color: rgba($color-success, 0.5);
        &:hover {
          background-color: rgba($color-success, 0.7);
        }
      }
    }
  }
  .signup-link {
    color: $color-light;
  }
}

.light-mode {
  .logReg {
    .logRegOuterContainer {
      background-color: $color-light;
      .logRegButton {
        background-color: rgba($color-success, 0.8);
        &:hover {
          background-color: $color-success;
        }
      }
    }
  }
  .signup-link {
    color: $color-dark;
  }
}