@import "variables.scss";

.profile {

  .profileOuterContainer {
    border-radius: $border-radius;
    position: relative;
    width: 400px;
    height: 100%;
    padding: 17px 10px;

    .profileButton {
      border: 0;
      border-radius: $border-radius;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    .uploadButton {
      width:100%;
      color: $color-light;
      text-transform: none;
      font-size: 18px;
    }

    .changePasswordButton {
      color: $color-light;
      width: 100% !important;
      padding: 5px 0px !important;
      align-self: center;
      margin-top: 10px;
      font-size: 18px;
    }
    .logout {
      height: 40px;
      font-size: 25px;
      width: 300px;
    }
    .switchProfileButton {
      height: 30px;
      width: 150px;
    }
    .profileInnerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgba($color-light, 1);

      .signup-link {
        a {
          margin-left: 0px;
        }
      }
    
      .header {
        font-size: 24px;
      }
      .profileField {
        text-align: center;
      }
      .profileTitleAttr {
        margin-bottom: 5px;
        font-size: 15px;
      }
      .profileDataAttr {
        font-size: 16px;
      }
    
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 5px;
    
        .imageProfile {
          width: 150px !important;
          height: 150px !important;
          border-radius: 50%;
          margin: 0 auto;
          img {
            max-width: 100%;
            height: auto;
          }
        }
    
        .form {
          .error {
            font-size: 0.8em;
            color: $color-warning;
          }
          .form-group {
            form {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: fit-content;
            }
            label {
              margin-top: 10px;
              font-size: 18px;
            }
            input {
              margin: 10px 0px;
              min-width: 20em;
              height: 35px;
              padding: 0px 10px;
              font-size: 14px;
              border: 0;
              border-bottom: 1px solid;
              background-color: transparent;
              transition: all 250ms ease-in-out;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}

.dark-mode {
  .profile {
    .profileOuterContainer {
      background-color: $color-dark;
      .switchProfileButton {
        color: rgba($color-success, 1);
        background-color: transparent;
      }
    }
  }
  .profileInnerContainer {
    .header {
      color: $color-light;
    }
    .profileTitleAttr {
      color: $color-light;
    }
    .profileDataAttr {
      color: $color-light;
    }
    .uploadButton {
      background-color: rgba($color-success, 0.5);
      &:hover {
        background-color: rgba($color-success, 0.7);
      }
    }
    .content {
      .form {
        color: rgba($color-success, 0.9);
        .form-group {
          .changePasswordButton {
            background-color: rgba($color-success, 0.5);
            &:hover {
              background-color: rgba($color-success, 0.7);
            }
          }
          input {
            background-color: $color-dark;
            border-color: $color-light !important;
            color: $color-light;
            &::placeholder {
              color: $color-light;
            }
          }
        }
      }
    }
  }
}

.light-mode {
  .profile {
    .profileOuterContainer {
      background-color: $color-light;
      
      .switchProfileButton {
        color: rgba($color-success, 1);
        background-color: transparent;
      }
    }
  }
  .profileInnerContainer {
    .header {
      color: $color-dark;
    }
    .profileTitleAttr {
      color: $color-dark;
    }
    .profileDataAttr {
      color: $color-dark;
    }
    .uploadButton {
      background-color: rgba($color-success, 0.8);
      &:hover {
        background-color: $color-success;
      }
    }
    .content {
      .form {
        color: rgba($color-dark, 0.9);
        .form-group {
          .changePasswordButton {
            background-color: rgba($color-success, 0.8);
            &:hover {
              background-color: $color-success;
            }
          }
          input {
            border-bottom: 1px solid $color-dark !important;
            color: $color-dark;
            &::placeholder {
              color: $color-dark;
            }
          }
        }
      }
    }
  }
  
}
