@import "variables.scss";

.aboutWrapper {
    flex-wrap: wrap;
    min-height: 80vh;
    box-sizing: border-box;
    opacity: 0.9999999;
}
.laptopWrapper {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        height: 600px;
        width: 1000px;
    }

    .homeHeaders {
        font-size: 40px;
        text-align: center;
        line-height: 50px;
    }

    .homeHeadersAfter {
        font-size: 25px;
        text-align: center;
        margin-top: 50px;
    }
}
.tabletWrapper {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        height: 500px;
        width: 800px;
    }
    .homeHeaders {
        font-size: 40px;
        text-align: center;
        line-height: 50px;
    }

    .homeHeadersAfter {
        font-size: 25px;
        text-align: center;
        margin-top: 50px;
    }
}

.footerImages {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        height: 50px;
        width: 50px;
    }
}


.dark-mode {
    .aboutWrapper {
        .homeHeaders {
            color: $color-chat-light;
        }
        .homeHeadersAfter {
            color: $color-chat-light-mid;
        }
    }
}

.light-mode {
    .aboutWrapper {
        .homeHeaders {
            color: $color-chat-dark;
        }
        .homeHeadersAfter {
            color: $color-chat-mid;
        }
    }
}







.aboutBox {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}

.aboutBox:hover {
    height: 400px;
    cursor: pointer;
}

.aboutBox .aboutImgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.aboutBox .aboutImgBox img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.aboutBox:hover .aboutImgBox img {
    opacity: 1;
}

.aboutBox:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.aboutBox:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.aboutBox:before, .aboutBox:after {
    background: linear-gradient(235deg,#89ff00, #010615, #00bcd4) 
}

.item2:before, .item2:after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.aboutBox .aboutContent {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    border-radius: $border-radius;
}

.aboutBox:hover .aboutContent {
    opacity: 1;
}

.aboutBox .aboutContent h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.aboutBox .aboutContent h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}