@import "variables.scss";

.canvasButton {
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: $border-radius;
    padding: 0px 5px;
    outline: none;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    &:active {
        transform: scale(1.1);
    }
    img {
        height: 30px;
        width: 30px;
    }
}