@import "variables.scss";

.recoverPassword {
  margin-bottom: 10px;
}

.imageRecoverPassword {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    margin: 0 auto;
    img {
      max-width: 100%;
      height: auto;
    }
}

.forgotPassword {
  align-self: flex-end;
  text-decoration: none;
  font-size: 13px;
  color: $color-blue;
}

.imageLogin {
  width: 17em;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
  }
}

.logWithButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  img {
    position: relative;
    top: 3px;
  }
  span {
    font-size: 18px;
    position: relative;
    bottom: 5px;
    margin-left: 10px;
  }
}

.light-mode {
  .logWithButtons {
    span {
      color: $color-dark;
    }
  }
}

.dark-mode {
  .logWithButtons {
    span {
      color: $color-light;
    }
  }
}