@import "variables.scss";

.navigationBar {
  margin-bottom: 30px;
}

.MuiList-padding {
  padding: 0 !important;
  border-radius: $border-radius !important;
}

.MuiMenuItem-root:nth-child(1) {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.MuiMenuItem-root:last-child {
  border-bottom-left-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.navigationButton {
  padding: 10px 20px;
  margin-right: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  border: none;
  background: none;
  font-family: $font-OpenSans;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: none;
  }
}

.logo {
  color: $color-success;
  font-size: 50px !important;
  margin-left: 60px !important;
}

.logo span:hover {
  cursor: pointer;
}

.loginButton {
  background-color: rgba($color-success,0.7);
  border-radius: $border-radius;
  color: $color-light !important;
  &:hover {
    background-color: $color-success;
  }
}

.logout {
  color: $color-light !important;
  border-radius: $border-radius;
  &:hover {
    color: $color-light !important;
  }
}

.dark-mode {
  .logout {
    background-color: rgba($color-success, 0.7);
    &:hover {
      background-color: rgba($color-success, 1);
    }
  }
  .navigationButton {
    color: $color-light;
    &:hover {
      color: $color-success;
    }
  }
  .MuiMenuItem-root {
    background-color: $color-mid !important;
    color: $color-light !important;
    &:hover {
      background-color: $color-success !important;
    }
  }
}

.light-mode {
  .logout {
    background-color: rgba($color-success, 0.8);
    &:hover {
      background-color: $color-success;
    }
  }
  .navigationButton {
    color: $color-dark;
    &:hover {
      color: $color-success;
    }
  }
  .MuiMenuItem-root {
    background-color: $color-mid !important;
    color: $color-light !important;
    &:hover {
      background-color: $color-success !important;
    }
  }
}

.switchB {
  --line: #505162;
  --dot:#21b573;
  --circle:#21b573;
  --duration: .3s;
  --text: #9EA0BE;
  cursor: pointer;
  input { 
      display: none;
      & + div {
          position: relative;
          &:before,
          &:after {
              --s: 1;
              content: '';
              position: absolute;
              height: 4px;
              top: 10px;
              width: 24px;
              background: var(--line);
              transform: scaleX(var(--s));
              transition: transform var(--duration) ease;
          }
          &:before {
              --s: 0;
              left: 0;
              transform-origin: 0 50%;
              border-radius: 2px 0 0 2px;
          }
          &:after {
              left: 28px;
              transform-origin: 100% 50%;
              border-radius: 0 2px 2px 0;
          }
          span {
              padding-left: 56px;
              line-height: 24px;
              color: var(--text);
              &:before {
                  --x: 0;
                  --b: var(--circle);
                  --s: 4px;
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  box-shadow: inset 0 0 0 var(--s) var(--b); 
                  transform: translateX(var(--x));
                  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
              }
              &:not(:empty) {
                  padding-left: 64px;
              }
          }
      }
      &:checked {
          & + div {
              &:before {
                  --s: 1;
              }
              &:after {
                  --s: 0;
              }
              span {
                  &:before {
                      --x: 28px;
                      --s: 12px;
                      --b: var(--dot);
                  }
              }
          }
      }
  }
}