@import "variables.scss";

.dialogTitleContainer {
    margin-left: 17px;
    div div {
        margin-bottom: 0px;
    }
    p {
        font-size: 25px;
    }
}
a {
    text-decoration: underline;
    cursor: pointer;
}

.dialogOuterContainer {
    margin: 20px;
    p {
        cursor: pointer;
    }
}
.dialogInnerContainer {
    margin-top: 5px;
    a {
        &:visited {
            color: $color-mid;
        }
    }

    .dialogTopItems {
        display: flex;
        justify-content: space-between;
    }
    
    .dialogCheckListItems {
        .cardCheckbox {
            color: $color-mid;
            &:hover {
                background-color: transparent;
            }
        }
    }

    .dialogMembers {
        display: flex;
        flex-direction: column;
        .dialogMembersItems {
            display: flex;
            flex-direction: row;
        }
    }
    .dialogCheckbox {
        display: flex;
        justify-content: space-between;
    }
    .dialogCheckboxItems {
        width: 75%;
        display: flex;
        justify-content: space-between;
    }
    .dialogPriorityLine {
        margin-top: 5px;
    }
    .cardDivider {
        margin: 10px 0px;
        background-color: $color-mid;
    }
    .dialogDescription {
        textarea:disabled {
            cursor:not-allowed;
        }

        p {
            position: absolute;
            left: 130px;
            z-index: 100;
        }
        button {
            position: absolute;
            right: 45px;
            z-index: 100;
            cursor: pointer;
        }
    }
    .dialogDueDate {
        width: 150px;
        .MuiIconButton-root {
            color: $color-mid !important;
        }
    }
    .cardSendButton {
        width: auto;
        height: 20px;
        align-self: center;
        outline: none;
        border: 0px;
        background-color: $color-success;
        color: $color-light;
        border-radius: $border-radius;
        cursor: pointer;
    }
    .checkboxAddWrapper {
        display: flex;
    }
    .MuiInput-underline:after {
        border-bottom: none !important;
    }
    .MuiFormControl-root {
        label {
            font-size: 18px;
            font-family: $font-OpenSans;
        }
        div {
            font-family: $font-OpenSans;
            &:hover {
                border-bottom: none;
                &::before {
                    border-bottom: none;
                }
            }
            &::before {
                border-bottom: none;
            }
        }
        input {
            color: $color-mid;
        }
    }
}

.MuiPickersDatePickerRoot-toolbar {
    background-color: $color-success !important;
    
}
.MuiPickersDay-daySelected {
    background-color: $color-success !important;
}
.MuiButton-textPrimary {
    color: $color-success !important;
}

.iconsWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 40%;

    img {
        width: 15px;
        height: 15px
    }

    span {
        font-size: 14px;
        margin-left: 5px;
        color: $color-mid;
    }
}

.dialogPriorityLine {
    outline: none;
    .MuiSelect-select:focus {
        background-color: transparent;
    }
    .MuiSvgIcon-root {
        color: $color-mid;
        position: absolute;
        top: -2px;
    }    
}
.MuiInput-underline:before {
    border-bottom: 0px !important;
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 0px !important;
}


.MuiList-root {
    &::-webkit-scrollbar {
        width: 12px !important;
        background-color: transparent;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-mid;
    }
}
