@import "variables.scss";

.chatButton {
    position: sticky;
    float: right;
    border: none;
    background: none;
    color: $color-success;
    cursor: pointer;
    &:hover {
        color: $color-mid;
    }
}