@import "variables.scss";

.logRegInnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;

  .header {
    font-size: 24px;
    color: $color-success;
  }

  .content {
    display: flex;
    flex-direction: column;

    .imageReg {
      width: 17em;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      .error {
        font-size: 0.7em;
        color: $color-warning;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        form {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
        }
        button {
          align-self: center;
        }
        input {
          margin: 10px 0px;
          min-width: 18em;
          height: 35px;
          padding: 0px 10px;
          font-size: 16px;
          border: 0;
          border-bottom: 1px solid;
          background-color: transparent;
          transition: all 250ms ease-in-out;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.dark-mode {
  .form-group {
    input {
      background-color: $color-mid;
      border-color: $color-light !important;
      color: $color-light;
      &::placeholder {
        color: $color-light;
      }
    }
  }
}

.light-mode {
  .form-group {
    input {
      border-bottom: 1px solid $color-dark !important;
      color: $color-dark;
      &::placeholder {
        color: $color-dark;
      }
    }
  }
}

