@import "variables.scss";

.chatWrapper {
    height: 400px !important;
    width: 400px !important;
    position: absolute;
    bottom: 0px;
    right: 30px;
    border-radius: $border-radius;

    .incomingMessage {
        float: left;
    }

    .outgoingMessage {
        float: right;
    }
    
    .gridWrapper {
        overflow: scroll;
        overflow-x: hidden;
        height: 296px;
        padding: 10px 5px 10px 15px;

        &::-webkit-scrollbar {
            width: 12px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
    
    .chatHeader {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        height: 40px;
        .chatHeaderName {
            position: absolute;
            top: 12px;
            left: 42%;
        }
        .chatHeaderButton {
            position: absolute;
            top: 8px;
            right: 0%;
        }
    }

    .chatMessageSender {
        font-size: 14px;
        padding: 5px 5px;
    }

    .chatMessageOuter {
        border-radius: $border-radius;
    }

    .chatMessageMessage {
        div.DraftEditor-root {
            margin-top: 5px;
            padding: 5px 10px;
            font-size: 16px;
            line-height: 2;
            display: inline-table;
        }
    }
    .chatMessageInner.chatMessageOutgoing {
        text-align: end;
        div.DraftEditor-root {
            border-radius: 20px 4px 20px 20px;
        }
    }
    .chatMessageInner.chatMessageIncoming {
        text-align: start;
        div.DraftEditor-root {
            border-radius: 4px 20px 20px 20px;
        }
    }

    .inputMessageOuter {
        input {
            border-bottom-left-radius: $border-radius;
            padding: 10px;
            border: 0px;
            height: 20px;
            width: 340px;
        }
        input:focus {
            outline: none;
        }
        
        button {
            border-radius: 0px 0px $border-radius 0px;
            padding: 5px;
            border: 0px;
            height: 40px;
            width: 40px;
            border: none;
            outline: none;
            *:active {
                transform: scale(1.1);
            }
        }
        .public-DraftStyleDefault-ltr {
            padding-left: 10px;
        }
    }

    .inputMessageInner {
        div.DraftEditor-root {
            padding: 5px 10px;
            height: 30px;
            font-size: 16px;
            border-bottom-left-radius: $border-radius;
            line-height: 2;
            overflow: hidden;
        }
        .DraftEditor-editorContainer {
            border-radius: 20px;
        }
        .chatSend {
            height: auto;
            width: 20px;
        }
    }
}

.dark-mode .chatWrapper {
    .gridWrapper {
        background-color: $color-chat-dark;
        &::-webkit-scrollbar-thumb {
            background-color: $color-chat-mid;
        }
    }

    .chatHeader {
        color: $color-light;
        background-color: $color-chat-dark;
        border-bottom: 1px solid $color-chat-mid;
        .chatHeaderButton span{
            color: $color-mid;
        }
        button:hover {
            background-color: transparent;
        }
    }
    .chatMessageSender {
        color: $color-light;
    }
    .chatMessageMessage {
        div.DraftEditor-root {
            background-color: rgba($color-blue, 1);
            color: $color-light;
        }
    }
    .inputMessageOuter {
        button {
            color:$color-light;
            background: $color-chat-dark;
            &:hover {
                color: $color-dark;
            }
        }
    }
    .inputMessageInner {
        .DraftEditor-editorContainer {
            background-color: $color-chat-mid;
        }
        .public-DraftEditorPlaceholder-inner {
            color: $color-chat-dark;
        }
        div.DraftEditor-root {
            background-color: $color-chat-dark;
            color: $color-light;
        }
    }
}

.light-mode .chatWrapper {
    .gridWrapper {
        background-color: $color-chat-light;
        &::-webkit-scrollbar-thumb {
            background-color: $color-chat-light-mid;
        }
    }
    
    .chatHeader {
        color: $color-chat-dark;
        background-color: $color-chat-light;
        border-bottom: 1px solid $color-chat-light-mid;
        .chatHeaderButton span{
            color: $color-chat-dark;
        }
        button:hover {
            background-color: transparent;
        }
    }
    .chatMessageSender {
        color: $color-chat-dark;
    }
    .chatMessageMessage {
        div.DraftEditor-root {
            background-color: rgba($color-blue, 1);
            color: $color-chat-light;
        }
    }
    .inputMessageOuter {
        button {
            color: $color-chat-light;
            background: $color-chat-light;
            &:hover {
                color: $color-dark;
            }
        }
    }
    .inputMessageInner {
        .DraftEditor-editorContainer {
            background-color: $color-chat-light-mid;
        }
        .public-DraftEditorPlaceholder-inner {
            color: $color-chat-light;
        }
        div.DraftEditor-root {
            background-color: $color-chat-light;
            color: $color-chat-dark;
        }
    }
}